dist: trusty
sudo: false
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6

before_install:
  - pip install --user cpp-coveralls

matrix:
    include:
        - os: linux
          compiler: gcc
        - os: linux
          compiler: clang
        - os: osx
          compiler: gcc
        - os: osx
          compiler: clang

script:
        - |
             mkdir -p array-reverse/cpp/build
             cd array-reverse/cpp/build
             CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6 cmake -DCOVERAGE=1 ..
             cmake --build .
             ctest -VV

after_success:
  - coveralls --root . -E ".*gtest.*" -E ".*CMakeFiles.*"
