dist: trusty
sudo: false
language: cpp

# Use https (public access) instead of git for git-submodules.
# This modifies only Travis-CI behavior!
# disable the default submodule logic
git:
  submodules: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6

before_install:
  - pip install --user cpp-coveralls
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init --recursive

matrix:
    include:
        - os: linux
          compiler: gcc
        - os: linux
          compiler: clang

script:
        - |
             mkdir -p array-reverse/cpp/build
             cd array-reverse/cpp/build
             CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6 cmake -DCOVERAGE=1 -D"CMAKE_CXX_FLAGS=-g -O2 -w -fprofile-arcs -ftest-coverage" -D"CMAKE_C_FLAGS=-g -O2 -w -fprofile-arcs -ftest-coverage" ..
             cmake --build .
             ctest -VV

after_success:
  - coveralls --root . -E ".*gtest.*" -E ".*CMakeFiles.*"
